.tooltip {
	display: inline;
	z-index: 999;
	color: #CCC;
	position: relative;

}

/* Trigger text */

.tooltip-item {
	background: rgba(0,0,0,0);
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 0px 0px;
	overflow: hidden;
}

/* Gap filler */

.tooltip-item::after {
	content: '';
	position: absolute;
	
	width: 360px;
	height: 20px;
	bottom: 100%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
	pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 159px;
	left: 177px;
	bottom: 55px;
	text-align: left;
	font-size: 0.765em;
	line-height: 1.4;
	box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
	background: #333;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	background-color: rgba(135, 135, 135, 0.9);
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: -180px;
}



.tooltip-effect-4 .tooltip-content {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale3d(0.7,0.3,1);
	transform: scale3d(0.7,0.3,1);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.4s;
}



.tooltip:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}



/* Arrow */

.tooltip-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #818181;
	border-width: 10px;
	margin-left: -12px;

}

/* Tooltip content*/



.tooltip-text {
	font-size: 1.17em;
	line-height: 1.35;
	display: block;
	color: #ccc;
	padding-top: 0.5em;
	padding-right: 1.2em;
	padding-bottom: 0.7em;
	padding-left: 1.2em;
	font-family: Tahoma, Geneva, sans-serif;

}



.tooltip-text a {
	font-weight: bold;

}
